<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ultrabook.rhinotube">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

    <application
        android:name=".VideoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Necessário o uso da theme appCompat.NoActionBar para utilização da toolBar-->
        <activity android:name=".VideoActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"
            android:label="@string/detail"
            android:parentActivityName=".VideoActivity">
            <meta-data android:name="parentActivityName"
                android:value=".VideoActivity"/>
        </activity>

    </application>

</manifest>